@import './base.css';

html,
body,
#app {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: normal;
  background: #f8f9fa;
  overflow-y: auto;
}

#app {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}